---
import Layout from "@/layouts/Layout.astro";
import LinkButton from "@/components/LinkButton.astro";
import { SITE } from "@/config";
---

<Layout title={`404 Not Found | ${SITE.title}`}>
  <main id="main-content">
    <div>
      <h1>404</h1>
      <p>Page Not Found</p>
      <LinkButton href="/"> Go back home </LinkButton>
    </div>
  </main>
</Layout>
