---
import { slugifyStr } from "@/utils/slugify";
import type { CollectionEntry } from "astro:content";
import { getPath } from "@/utils/getPath";

export interface Props extends CollectionEntry<"blog"> {
  variant?: "h2" | "h3";
}

const { data, id, filePath } = Astro.props;

const { title, description } = data;

const headerProps = {
  style: { viewTransitionName: slugifyStr(title) },
};
---

<li>
  <a href={getPath(id, filePath)}>
    <h3 {...headerProps}>{title}</h3>
  </a>
  {description && <p>{description}</p>}
</li>

<style>
  li {
    margin-bottom: 0.75rem;
  }

  h3 {
    margin: 0;
    font-size: 1.05rem;
    font-weight: 400;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }

  p {
    font-size: 0.9rem;
    color: var(--text-muted);
    margin: 0.25rem 0 0 0;
  }
</style>
