---
import dayjs from "dayjs";
import utc from "dayjs/plugin/utc";
import timezone from "dayjs/plugin/timezone";
import { SITE } from "@/config";

dayjs.extend(utc);
dayjs.extend(timezone);

export interface Props {
  timezone: string | undefined;
  pubDatetime: string | Date;
  modDatetime: string | Date | undefined | null;
}

const { pubDatetime, modDatetime, timezone: postTimezone } = Astro.props;

/* ========== Formatted Datetime ========== */
const latestDatetime =
  modDatetime && modDatetime > pubDatetime ? modDatetime : pubDatetime;
const datetime = dayjs(latestDatetime).tz(postTimezone || SITE.timezone);

const date = datetime.format("D MMM, YYYY"); // e.g., '22 Mar, 2025'
const time = datetime.format("hh:mm A"); // e.g., '08:30 PM'
---

<div>
  {
    modDatetime && modDatetime > pubDatetime ? (
      <span>Updated:</span>
    ) : (
      <span class="sr-only">Published:</span>
    )
  }
  <span>
    <time datetime={datetime.toISOString()}>{date}</time>
    <span aria-hidden="true"> | </span>
    <span class="sr-only">&nbsp;at&nbsp;</span>
    <span>{time}</span>
  </span>
</div>
