---
export interface Props {
  noPadding?: boolean;
  ariaHidden?: boolean;
}

const { noPadding = false, ariaHidden = true } = Astro.props;
---

<div
  class:list={{
    hr: true,
    "no-padding": noPadding,
  }}
  aria-hidden={ariaHidden}
>
  <hr aria-hidden={ariaHidden} />
</div>

<style>
  .hr {
    padding-block: 1rem;
  }

  .hr.no-padding {
    padding-block: 0;
  }
</style>
