---
import { SOCIALS } from "@/constants";
import LinkButton from "./LinkButton.astro";
---

<div class="socials">
  {
    SOCIALS.map(social => (
      <LinkButton href={social.href} title={social.linkTitle}>
        <social.icon class="social-icon" />
        <span class="sr-only">{social.linkTitle}</span>
      </LinkButton>
    ))
  }
</div>

<style>
  .socials {
    display: flex;
    gap: 0.75rem;
  }
</style>
