---
import IconHash from "@/assets/icons/IconHash.svg";

export interface Props {
  tag: string;
  tagName: string;
  size?: "sm" | "lg";
}

const { tag, tagName, size = "sm" } = Astro.props;
---

<li>
  <a href={`/tags/${tag}/`} transition:name={tag}>
    <IconHash />
    &nbsp;<span>{tagName}</span>
  </a>
</li>
